*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.4rem;
}

header{
    width: 100%;
    height:10vh;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-list {
    display: flex;
    width: 30rem;
    height: auto;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-list a {
    margin-right: 1rem;
    color: black;
}

nav .nav-list .menu-icon {
    background-image: url("https://cdn-icons-png.flaticon.com/512/152/152530.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
}

nav .nav-list img {
    border-radius: 50%;
    margin-left: 1rem;
}

main{
    margin-top: 5rem;
    text-align: center;
}

main .main-logo{
    width: 50.3rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main-logo img {
    width: 30rem;
}

main .main-input {
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main-input-container{
    width: 52.5rem;
    border-radius: 1.2rem;
    border: 0.1rem solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input-container input {
    width: 47rem;
    height: 3rem;
    border: none;
    outline: none;
    cursor: text;
}

main .main-input-container:hover{
    box-shadow: 0 0.1rem 0.6rem 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input-container .search-icon {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
}

main .main-input-container .micro-icon  {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}

main .main-buttons {
    width: 53rem;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 3.6rem;
    background-color: #f2f2f2;
    border: 0;
    font-size: 1.4rem;
    color: #5f6368;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
    margin-right: 1.5rem;
}

main .main-buttons button:hover {
    border: 0.1rem solid #c6c6c6;
    box-shadow: 0 0.1rem 0.1rem #0001;
    color: #202124;
}

footer {
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.3rem;
    background-color: #f2f2f2;
    border-top: 0.1rem solid #e4e4e4;
}

footer ul {
    margin: 1rem;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left {
    justify-self: left;
}
footer .footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 1rem;
    color: #5f6368;
}
